@font-face {
  font-family: "California Dream";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/Fonts/CaliforniaDreamsRegular.otf");
}

@font-face {
  font-family: "Blossom";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/Fonts/Blossom\ Regular.ttf");
}

@font-face {
  font-family: "Whisper";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/Fonts/WhisperRegular.ttf");
}

* {
  outline: none;
}

body {
  margin: 0;
  overflow-y: overlay;
  font-family: "California Dream";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

body ::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.16);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.1);
}

.btn {
  border-radius: 50px;
  padding: 14px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "California Dream";
}

.btn:active {
  transform: translateY(2px);
}

.primary-btn {
  color: var(--white);
  border: 2px solid linen;
  font-size: 12px;
  background-color: #4B5765;
}
/* @media only screen and (max-width: 414px) {
  .primary-btn {
    font-size: 13px;
  }
} */

.primary-btn:hover {
  color: #4B5765;
  border: 2px solid #4B5765;
  background-color: #FCC79F;
}

.highlighted-btn {
  color: var(--white);

  font-size: 12px;
  background-color: #FCC79F;
}
@media only screen and (max-width: 568px) {
  .highlighted-btn {
    z-index: -900;
  }
}

.red-border {
  border: 1px solid var(--error-message) !important;
}

.fade-in {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s ease;
}
