.header-container {
    display: flex;
    justify-content: center;
    height: 140px;
    color: var(--cream);
}

.header-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 70%;
    color: var(--cream);
}

.header-logo img {
    display: flex;
    height: 140px;
    width: 140px;
}

.header-options {
    display: contents;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    cursor: pointer;
}

.header-hamburger {
    display: none;
    color: var(--cream);
}

.header-option {
    font-size: 30px;
    cursor: pointer;
}

.header-option-seperator {
    margin: 0 50px 0 0;
    color: var(--cream);
}

.selected-header-option {
    color: var(--gold);
}

@media only screen and (max-width: 1110px) {
    .header-parent {
        width: 80%;
    }
}

@media only screen and (max-width: 970px) {
    .header-hamburger {
        display: block;
    }
    .header-parent {
        width: 100%;
        padding: 0 40px;
        position: relative;
    }
    .header-options {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -100%;
        top: 0px;
        height: 100vh;
        width: 100%;
        justify-content: space-around;
        background-color: var(--green);
        z-index: 1000;
        opacity: 0.8;
        transition: all 0.8s ease-out;
    }
    .header-option-seperator {
        margin: 0;
    }
    .selected-header-option {
        color: var(--cream);
    }
    .header-option {
        color: var(--cream);
    }
    .header-hamburger-bars {
        font-size: 30px;
        cursor: pointer;
        margin: 0px 10px;
        color: var(--cream);
    }
    .show-hamburger-options {
        left: 0;
        opacity: 1;
    }
}